.Planer {
	text-align: center;
}

.list {
	display: flex;
	justify-content: center;
	flex-direction: row;
	align-items: flex-start;
	&__all {
		width: 400px;
		text-align: center;
		background: #fff;
		border-radius: 5px;
	}
	&__header {
		padding: 20px;
	}
	&__input {
		padding: 10px 20px;
		margin-top: 10px;
		margin-bottom: 15px;
		margin-right: 20px;
		border: 1px solid black;
		color: black;
		background-color: white;
	}
	&__date {
		padding: 10px 20px;
		margin-left: 10px;
		margin-right: 10px;
		border: 1px solid black;
		color: black;
		background-color: white;
	}
	&__checkbox {
		padding: 10px 20px;
		margin-top: 10px;
		margin-right: 10px;
		border: 1px solid black;
		color: black;
		background-color: white;
	}
	&__important {
		color: red;
	}
	&__btn {
		padding: 10px 20px;
		margin-right: 20px;
		margin-top: 10px;
		border: 1px solid black;
		border-radius: 5px;
		color: black;
		background-color: white;
		text-transform: uppercase;
		cursor: pointer;
		transition: background-color 0.3s, color 0.3s;
	}
	&__btn:hover {
		color: white;
		background-color: black;
	}
}
.todo {
	&__list {
		text-transform: uppercase;
	}
	li {
		display: flex;
		justify-content: space-between;
		align-items: center;
		list-style: none;
		background-color: white;
	}
	&__alert {
		margin-top: 20px;
		color: black;
	}
	&__tools {
		display: inline-block;
	}
	&__complete {
		padding: 15px 10px;
		border: none;
		background-color: transparent;
		cursor: pointer;
		transition: background-color 0.3s;
	}
	&__complete:hover {
		color: white;
		background-color: black;
	}

	&__edit {
		font-weight: bold;
		padding: 15px 10px;
		color: black;
		border: none;
		background-color: white;
		cursor: pointer;
	}
	&__edit:hover {
		color: white;
		background-color: black;
	}
	&__delete {
		color: tomato;
		padding: 15px 10px;
		border: none;
		background-color: white;
		cursor: pointer;
	}
	&__delete:hover {
		color: white;
		background-color: black;
	}
}
.completed {
	font-size: 12px;
	font-style: italic;
	color: var(--light-dark);
	text-decoration: line-through;
}
.edit {
	display: none;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	position: fixed;
	bottom: 20px;
	left: 50%;
	transform: translateX(-50%);
	width: 400px;
	color: white;
	background-color: black;
	border-radius: 5px;
	h3 {
		padding: 2px;
	}
	&__body {
		display: flex;
		justify-content: center;
		flex-wrap: wrap;
		width: 90%;
		padding: 10px;
	}
	&__info {
		margin-bottom: 2px;
		color: black;
	}
	&__input {
		width: 100%;
		padding: 10px 20px;
		border: none;
		color: black;
		background-color: white;
	}
	&__btn {
		display: inline-block;
		padding: 10px 22px;
		margin: 20px;
		border: none;
		border-radius: 5px;
		border: 1px solid white;
		color: black;
		background-color: white;
		text-transform: uppercase;
		cursor: pointer;
		transition: background-color 0.3s, color 0.3s;
	}
	&__btn:hover {
		color: white;
		background-color: black;
	}
}

