.footer {
	color: white;
	background-color: black;
	height:200px;

	&__boxes {
		margin-top: 20px;
		text-align: center;
		font-size: 25px;
	}
	&__box-social {
		margin: 15px 13px;
		text-align: center;
	}
	&__box-link {
		display: flex;
		justify-content: center;
		color: white;
		font-size: 36px;
		text-align: center;
	}
	&__bottom-text {
		padding: 6px;
		
		font-size: 15px;
		text-align: center;
	}
}
