.area {
	display: flex;
	justify-content: center;
	height: 530px;

	&__all {
		width: 410px;
		background-color: #fff;
		border: 1px solid black;
		margin-top: 5px;
		margin-bottom: 25px;
	}
	h2 {
		text-align: center;
		margin-bottom: 20px;
	}
	form {
		padding-bottom: 5px;
		padding: 40px;
		padding-bottom: 5px;
		padding-top: 5px;
      
		font-size: 18px;
	}
	&__box {
		margin-bottom: 20px;
		
		label {
			display: inline-block;
			margin-bottom: 15px;
			
		}
		input {
			width: 100%;
			padding: 8px;
			margin: 5px;
			font-size: 14px;
			border: 1px solid rgb(197, 197, 197);
			border-radius: 5px;
		}
	}


	&__buttons {
		display: flex;
		justify-content: flex-end;
	}

	&__buttons--send{
		padding: 12px 20px;
		margin-left: 130px;
        margin-top: 10px;
		color: black;
		border: 1px solid black;
		border-radius: 5px;
		background: none;
		transition: color 0.3s, background-color 0.3s;
		cursor: pointer;
		text-decoration: none;
	}
	&__buttons--clear {
        display: flex;
        justify-content: center;
		padding: 12px 20px;
		margin-left: 160px;
        margin-bottom: 10px;
		color: black;
		border: 1px solid black;
		border-radius: 5px;
		background: none;
		transition: color 0.3s, background-color 0.3s;
		cursor: pointer;
		text-decoration: none;
	}
	&__buttons--clear:hover,
	&__buttons--close:hover {
		color: white;
		background-color: black;
	}
	
}

.area__box--error {
	color: red;
	font-size: 14px;
	
}

.area__box .area__error {
	visibility: hidden;
	
	font-size: 14px;
	color: rgb(0, 137, 250);
}

// .area__box.error .area__error {
// 	visibility: visible;
// }
